.navbar.navbar-transparent .loader_gear {
    color: #FFF;
}

.navbar.bg-white .loader_gear {
    color: #888;
}

.submenu .nav {
    background-color: #ffb335;
  }

  .dropdown-menu {
    min-width: 6rem;
  }
  .form-check .form-check-label {
    font-size: 1rem;
    color: #222;
}
.gj-datepicker-bootstrap [role=right-icon] button {
    margin: 0;
    height: 38px;
}
.badge-default {
    background-color: #aaa;
}
.badge-success {
    background-color: #18ce0f;
}
.pagination li {
    background-color: #cccccc;
    margin: 0 10px;
    padding: 0 10px;
    border-radius: 3px;
}